@font-face { font-family: UkraineBold; src: url('fonts/e-Ukraine-Bold.ttf'); } 
@font-face { font-family: UkraineLight; src: url('fonts/e-Ukraine-Light.ttf'); } 
@font-face { font-family: UkraineMedium; src: url('fonts/e-Ukraine-Medium.ttf'); } 
@font-face { font-family: UkraineRegular; src: url('fonts/e-Ukraine-Regular.ttf'); } 
@font-face { font-family: UkraineThin; src: url('fonts/e-Ukraine-Thin.ttf'); } 
@font-face { font-family: UkraineUltraLight; src: url('fonts/e-Ukraine-UltraLight.ttf'); } 
@font-face { font-family: UkraineHeadBold; src: url('fonts/e-UkraineHead-Bold.ttf'); } 
@font-face { font-family: UkraineHeadLight; src: url('fonts/e-UkraineHead-Light.ttf'); } 
@font-face { font-family: UkraineHeadLogo; src: url('fonts/e-UkraineHead-LOGO.ttf'); } 
@font-face { font-family: UkraineHeadMedium; src: url('fonts/e-UkraineHead-Medium.ttf'); } 
@font-face { font-family: UkraineHeadRegular; src: url('fonts/e-UkraineHead-Regular.ttf'); } 
@font-face { font-family: UkraineHeadThin; src: url('fonts/e-UkraineHead-Thin.ttf'); } 
@font-face { font-family: UkraineHeadUltraLight; src: url('fonts/e-UkraineHead-UltraLight.ttf'); } 


/* Card */ 
.cardToTest1 {
    background-color: #d6e3f2;
    width: 100%;
    height: 100%;
    padding: 16px;
}
.cardToTest2{
    background-color: #c0d9ea;
    width: 100%;
    height: 100%;
    padding: 16px; 
}
.cardToTest3{
    background-color: #ede3eb;
}

.cardToTest4{
    background-color: #e8f5e4;
}
.swiper-wrapper{
 width: 360px;
}

p{
    padding: 0;
    margin: 0;
}
.zagolov1{
    margin-top: 13px;
    font-family: UkraineRegular;
    font-size: 24px;
}
.zagolovNiz{
    margin-top: 15px;
}
.zagolovImg{
    width: 24px;
    /* margin-top: 5px; */
    position: absolute;
    left: 130px;
    top: 59px;

}
.photoAndDataSection{
    display: flex;
    margin-top: 24px;
}

.imgFace{
    width: 161px;
    padding-bottom: 10px;
}

.rno{
    font-family: UkraineRegular;
    font-size: 13px;
    line-height: 1.4;
    margin-top: -15px;
}
.zagolovPodatkiv{
    margin-top: 15px!important;
    font-size: 20px!important;
    line-height: 1!important;
}
.dateOfPodatkiv{
    font-family: UkraineRegular;
    font-size: 13px;
    line-height: 1.4;
    margin-top: 20px;
}
.linePodatkiv{
    font-family: UkraineMedium;
    font-size: 12px;
    background: linear-gradient(to left, #9ccecf, #b6eb9f) ;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 379px;
    left: 0;
}
.numberCode{
    position: absolute;
    bottom: 32px;
    left: 13px;
    font-family: UkraineRegular;
    font-size: 26px;
}
.codeOfRno{
    position: absolute;
    bottom: 35px;
    left: 165px;
    width: 28px;
}
.dateOfBirth{
    margin-left: 18px;
    margin-top: 2px;
    font-family: UkraineRegular;
    font-size: 13px;
    line-height: 1.4;
}
.numberOfID{
    margin-left: 18px;
    margin-top: 14px;
    font-family: UkraineRegular;
    font-size: 13px;
    line-height: 1.4;
    color: #000;
    text-decoration: none;
}
.signatureImg{
    width: 100px;
    margin-top: 38px;
    margin-left: 20px;
}

.signForeignImg{
    width: 122px;
    margin-left: 14px;
}

.line{
    width: 325px;
    height: 2px;
    display: block;
    background-color: #adc6e5;
    margin-top: 11px;
}

.lineCovid{
    background-color: #c1e6ba; 
}

.lineForeign{
    /* width: 360px; */
    font-family: UkraineMedium;
    font-size: 12px;
    background-color: #97cfed;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
    top: 306px;
    left: 0;
}

.zagolozNizForeign{
    margin-top: 40px;
}

.dots3{
 position: absolute;
 bottom: 0;
 width: 58px;
 right: 0;
 z-index: 100;
}

.hello{
    font-family: UkraineHeadLogo;
}

body {
    background-color: #adc6e5;
    /* background-color: #82b2d4; */
    animation-duration: 0.6s;
    transition: 0.5s ease-out;
    overflow-y: hidden;
  }

  /* THE MAINCONTAINER HOLDS EVERYTHING */
  /* .maincontainer {
    position: absolute;
    width: 360px;
    height: 483px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } */
  .swiper-container {
    position: absolute;
    width: 100%;
    height: 483px;
    background: none;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-perspective: 900px;
    -webkit-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
    
}

  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard {
    position: relative;
    /* top: 0; */
    /* margin-left: 36px; */
    width: 360px;
    height: 483px;
    
    /* left: 0; */
    /* width: 100%;
    height: 100%; */
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  /* .thecard1{
      margin-right: 10px;
  } */
  .do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  /* .thecard:hover{
    transform: rotateY(180deg);
  } */


  .thecardHover {
    transform: rotateY(180deg);
    
  }
  .thecardDarkness {
    filter: brightness(30%);
  }
    .number{
        color: #000!important;
        text-decoration: none!important;    
    }
    .number:hover{
        color: #000!important;
        text-decoration: none!important;  
    }
    .number:link{
        color: #000!important;
        text-decoration: none!important;  
    }
    .number:active{
        color: #000!important;
        text-decoration: none!important; 
    }
    
  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
  .thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    /* background: #ffc728; */
    color: #000;
    
  }

  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  .img{
    height: auto;
    width: 100%;
    
  }

  .imgCovid{
    object-fit: fill;
    height: 100%;
  }

  .thecard1 {
    /* margin-left: 31px; */
  }

  #thecard .thefront, #thecard .theback{
    width: 100%;
    height: 100%;
    position: absolute;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    
  }

.swiper-slide-prev, .swiper-slide-next{
    transform: scale(0.9);
}
.swiper-slide-active{
    transform: scale(1);
}
.swiper-slide{
    transition: 0.4s ease-out;
    /* -webkit-box-shadow: 0px 13px 17px 0px rgba(26, 33, 37, 0.2);
    -moz-box-shadow: 0px 13px 17px 0px rgba(26, 33, 37, 0.2); */
    /* -webkit-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
    -moz-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
    box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71); */
    
}
.animatedBySwiper{
    animation-name: toAnimation;
    background-color: #82b2d4;
}
.animatedBySwiperBack{
    animation-name: backAnimation;
    background-color: #adc6e5;
}
.animatedBySwiperPodatkiv{
    background-color: #dac7d7;
    animation-name: backPodatkivAnimation
}
.animatedBySwiperPodatkivBack{
    background-color: #82b2d4;
    animation-name: backPodatkivBackAnimation
}

.animatedBySwiperCovid{
    background-color: #bfeab4;
    animation-name: toCovidAnimation
}
.animatedBySwiperCovidBack{
    background-color: #dac7d7;
    animation-name: backCovidAnimation
}
.cardPhotos{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.imgLogo{
    margin-left: 15px;
    margin-top: 30px;
    width: 55px; 
}
.imgCovidFace{
    border: 2.5px solid #bfeab4;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.imgMainPass{
    border: 2.5px solid #b4c7e7:
}
    
.qrscanner{
    width: 40px;
    position: absolute;
    top: 42px;
    right: 13px;
}
.swiper-pagination-bullet{
    background-color: #7e8a9f!important;
    margin-left: 4px;
}
.swiper-pagination-bullet-active{
    background-color: #000!important;
}
.swiper-pagination{
    bottom: 126px!important;
    left: 185px!important;
    width: auto!important;
}
.updated{
    font-family: UkraineRegular;
    position: absolute;
    bottom: 152px; 
    left: 105px;
    font-size: 12px;
}
/* .imgBlocks{
    width: 428px;
    overflow-x: hidden;
} */

.block1Img{
    /* width: 124px; */
    width: 117px;
    position: absolute;
    /* bottom: 52px; */
    bottom: 45px;
    left: 0;
}
.block2Img{
    width: 103px;
    position: absolute;
    bottom: 49px;
    left: 100px;
}
.block3Img{
    width: 132px;
    position: absolute;
    bottom: 47px;
    right: 94px;
}
.block4Img{
    width: 97px;
    position: absolute;
    bottom: 52px;
    right: 0px;
}

/* .maincontainer{
    width: 428px;
    overflow: hidden;
} */

@keyframes toAnimation {
    0% {
      background-color: #adc6e5;  
    }
    100% {
      background-color: #82b2d4;
    }
  }

  @keyframes backAnimation {
    0% {
      background-color: #82b2d4;  
    }
    100% {
      background-color: #adc6e5;
    }

  }
  @keyframes backPodatkivAnimation {
    0% {
      background-color: #82b2d4;  
    }
    100% {
      background-color: #dac7d7;
    } 
}
@keyframes backPodatkivBackAnimation {
    0% {
      background-color: #dac7d7;  
    }
    100% {
      background-color: #82b2d4;
    } 
}

@keyframes toCovidAnimation {
    0% {
      background-color: #dac7d7;  
    }
    100% {
      background-color: #bfeab4;
    } 
}

@keyframes backCovidAnimation {
    0% {
      background-color: #bfeab4;  
    }
    100% {
      background-color: #dac7d7;
    } 
}
.mainMainContainer{
    width: 420px;
    height: 900px;
    padding: 0;
    margin: 0;
    margin-top: -8px;
    margin-left: -7px; 
    /* filter: brightness(10%) */
}
.mainMainContainer.activeBlur{
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    filter: blur(8px);
}
/* .mainMainContainer.activeDarken{
    filter: brightness(30);
} */

.popup1{
    position: fixed; 
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 330px;
    background: #fafafa;
    transition: 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    border-radius: 8px;
}
.popup1.popedUp{
    bottom: -12%;
    transition: 0.4s;
    visibility: visible;
    opacity: 1;
    z-index: 1000;

}

.popup1{
    display: flex;
    flex-direction: column;
}

.additionalInfo{
    font-family: UkraineRegular;
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.infoP{
    margin-top: 28px;
    margin-bottom: 28px;
}
.infoP1{
    margin-top: 45px;
}
.crossInfo{
    width: 55px;
    margin-top: 17px;
}
.lineOfInfo{
    width: 90%;
    height: 2px;
    background-color: #adc6e5;
    /* display: block; */
}



.imgData{
    width: 428px;
    overflow: scroll
 } 
 .dataBottom{
    margin-top: -5px;
}
 .infoPopup{
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    top: 1200px;
    left: 0;
    z-index: 10000;
    transition: 0.7s ease-out;
    border-radius: 12px;
}
.infoPopup.activeInfoPopup{
    visibility: visible;
    opacity: 1;
    z-index: 10000;
    top: 28px;
    transition: 0.7s ease-out;
}
.infoPopupAdditional{
    /* overflow-y: scroll; */
}
.closePopup{
    width: 40px;
    display: block;
    border-radius: 50%;
    height: 40px;
    background-color: transparent;
    z-index: 9999;
    position: absolute;
    top: 30px;
    right: 26px;
}
