@font-face { font-family: UkraineBold; src: url('fonts/e-Ukraine-Bold.ttf'); } 
@font-face { font-family: UkraineLight; src: url('fonts/e-Ukraine-Light.ttf'); } 
@font-face { font-family: UkraineMedium; src: url('fonts/e-Ukraine-Medium.ttf'); } 
@font-face { font-family: UkraineRegular; src: url('fonts/e-Ukraine-Regular.ttf'); } 
@font-face { font-family: UkraineThin; src: url('fonts/e-Ukraine-Thin.ttf'); } 
@font-face { font-family: UkraineUltraLight; src: url('fonts/e-Ukraine-UltraLight.ttf'); } 
@font-face { font-family: UkraineHeadBold; src: url('fonts/e-UkraineHead-Bold.ttf'); } 
@font-face { font-family: UkraineHeadLight; src: url('fonts/e-UkraineHead-Light.ttf'); } 
@font-face { font-family: UkraineHeadLogo; src: url('fonts/e-UkraineHead-LOGO.ttf'); } 
@font-face { font-family: UkraineHeadMedium; src: url('fonts/e-UkraineHead-Medium.ttf'); } 
@font-face { font-family: UkraineHeadRegular; src: url('fonts/e-UkraineHead-Regular.ttf'); } 
@font-face { font-family: UkraineHeadThin; src: url('fonts/e-UkraineHead-Thin.ttf'); } 
@font-face { font-family: UkraineHeadUltraLight; src: url('fonts/e-UkraineHead-UltraLight.ttf'); } 


/* Card */ 
.cardToTest {
    background-color: #d6e3f2;
    width: 100%;
    height: 100%;
    padding: 16px;
}

p{
    padding: 0;
    margin: 0;
}
.zagolov1{
    font-family: UkraineRegular;
    font-size: 24px;
}

.hello{
    font-family: UkraineHeadLogo;
}

body {
    background: #adc6e5;
  }
.swiper-slide{
    width: 25%;
}
  /* THE MAINCONTAINER HOLDS EVERYTHING */
  /* .maincontainer {
    position: absolute;
    width: 360px;
    height: 483px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } */
  .swiper-container {
    position: absolute;
    width: 100%;
    height: 483px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-perspective: 900px;
    -webkit-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}

  /* THE CARD HOLDS THE FRONT AND BACK FACES */
  .thecard {
    position: relative;
    /* top: 0; */
    padding: auto;
    width: 360px;
    height: 483px;
    /* left: 0; */
    /* width: 100%;
    height: 100%; */
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -o-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .do-flip {
    -o-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }

  /* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
  /* .thecard:hover{
    transform: rotateY(180deg);
  } */


  .thecardHover {
    transform: rotateY(180deg);
    
  }
  .thecardDarkness {
    filter: brightness(30%);
  }

  /* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
  .thefront {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    /* background: #ffc728; */
    color: #000;
  }

  /* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
  .theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
  }
  .img{
    height: auto;
    width: 100%;
    
  }
  .thecard1 {
    margin-left: 30px;
  }
  .thecard2 {
    margin-left: 30px;
  }

  #thecard .thefront, #thecard .theback{
    width: 100%;
    height: 100%;
    position: absolute;
    -o-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    /* -webkit-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
    -moz-box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71);
    box-shadow: 5px 6px 32px 2px rgba(133,133,133,0.71); */
  }